<h3 class="page-header">Administador</h3>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">Perfil</h4>
            </div>
            <div class="panel-body">
                <form id="form" class="form-horizontal" ng-submit="put()" method="POST" enctype="multipart/form-data">
                    <div class="col-sm-3">
                        <input type="file" name="file" onchange="angular.element(this).scope().fileNameChanged(this)" style="display: none;" id="pdffile" accept="image/*" />
                        <img onclick="$('#pdffile').click();" data-caminho="perfil" class="imgPerfil" id="imgPerfil" src="../../Comum/content/perfil/{{ imagem }}" alt="" />
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group col-xs-12">
                            <label class="control-label" for="txtNome">Nome</label>
                            <input class="form-control" id="txtNome" placeholder="Nome" type="text" ng-model="model.Nome" required>
                        </div>
                        <div class="form-group col-xs-12">
                            <label class="control-label" for="txtEmail">Email</label>
                            <input class="form-control" id="txtEmail" placeholder="Email" type="email" ng-model="model.Email" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group col-xs-12">
                            <label class="control-label" for="txtLogin">Login</label>
                            <input class="form-control" id="txtLogin" autocomplete="off" placeholder="Login" type="text" ng-model="model.Login" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group col-xs-12">
                            <label class="control-label" for="txtSenha">Senha</label>
                            <input class="form-control" id="txtSenha" autocomplete="off" placeholder="Senha" type="password" ng-model="model.Senha" required>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group col-xs-12 text-right">
                            <a href="#/Admin/Buscar" class="btn btn-sm btn-danger">
                                <i class="fa fa-remove"></i>Cancelar
                            </a>
                            <button class="btn btn-sm btn-success" type="submit">
                                <i class="fa fa-check"></i>Cadastrar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .imgPerfil {
        width: 120px;
        height: 120px;
        cursor: pointer;
    }
</style>