<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ConnectionSQL" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
         connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog = Coperativas;Integrated Security=True;Connect Timeout=15;Encrypt=False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
  </system.web>
</configuration>
