<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ConnectionSQL" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
         connectionString="Data Source=SQL5007.Smarterasp.net;Initial Catalog=DB_9CC755_taxi;User Id=DB_9CC755_taxi_admin;Password=rexona02021995;"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
