<h3 class="page-header">PLanos</h3>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">Editar</h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" ng-submit="put()" method="POST">
                    <div class="col-sm-12">
                        <div class="form-group col-xs-12">
                            <label class="control-label" for="txtDesc">Descrição</label>
                            <input class="form-control" id="txtDesc" placeholder="Descrição" type="text" ng-model="model.Descricao" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group col-xs-12">
                            <label class="control-label" for="txtTel">Qtde Telefones</label>
                            <input class="form-control" id="txtTel" placeholder="Máximo de Telefones" type="text" ng-model="model.QuantidadeMaximaTelefones" required mascara-int>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group col-xs-12">
                            <label class="control-label">Valor</label>
                            <div class="input-group">
                                <span class="input-group-addon">R$</span>
                                <input type="text" class="form-control" placeholder="Valor do Plano" ng-model="model.Preco" required mascara-money>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group col-xs-12 text-right">
                            <a href="#/Plano/Buscar" class="btn btn-sm btn-danger">
                                <i class="fa fa-remove"></i>Cancelar
                            </a>
                            <button class="btn btn-sm btn-success" type="submit">
                                <i class="fa fa-check"></i>Cadastrar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
